@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

body {
  font-family: 'Saira', sans-serif;
}

$color-main: #A00000;
$color-yellow: #F9D505;
$color-grey: #404040;
$light: #E5E5E5;