@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');
$color-main: #A00000;
$color-yellow: #F9D505;
$color-grey: #404040;
$light: #E5E5E5;

body {
  font-family: 'Saira', sans-serif;
}
h4 {
  padding: 20px 20px 10px 20px;
  margin: auto;
  color: $color-grey;
  text-align: center;
}

