@import '../../styles/general.scss';

.container {
  padding-top: 80px;
  max-width: 90vw;
  margin: auto;
  padding-bottom: 80px;
}

.formCont {
  margin: 0 0 20px 0;
  justify-content: center;
}

.form {
  padding: 0 10px;
  text-align: center;
}

textarea {
  max-width: 100%;
  margin: auto;
}

.btn {
  @include btn;
}

.btn:hover {
  color: $color-grey;
  background: $color-yellow;
}

.productCalculations a {
  color: white;
}

.cartSumUp, .checkout {
  justify-content: flex-end;
  margin: auto;
}