@import '../../styles/general.scss';

.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.homeImage {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: drop-shadow(0 0 30px $color-grey);
}

@media (max-width: 576px) {
  .mobile {
    display: block;
  }
  .homeImage {
    max-height: 70vh;
  }
  .iPad {
    display: none;
  }
  .WS {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .iPad {
    display: block;
  }
  .homeImage {
    max-height: 70vh;
    max-width: 90vw;
  }
  .mobile {
    display: none;
  }
  .WS {
    display: none;
  }
}

@media (min-width: 769px) {
  .WS {
    display: block;
  }
  .homeImage {
    max-height: 75vh;
    max-width: 75vw;
  }
  .mobile {
    display: none;
  }
  .iPad {
    display: none;
  }
}

@media (min-width: 769px) and (min-height: 992px) {
  .iPad {
    display: block;
  }
  .homeImage {
    max-height: 70vh;
  }
  .mobile {
    display: none;
  }
  .WS {
    display: none;
  }
}

@media (min-width: 500px) and (max-height: 430px) {
  .WS {
    display: block;
  }
  .homeImage {
    max-height: 50vh;
  }
  .mobile {
    display: none;
  }
  .iPad {
    display: none;
  }
}

