@import '../../styles/general.scss';

.container {
  padding-top: 80px;
  max-width: 90vw;
  margin: auto;
  padding-bottom: 60px;
}
.contactCont {
  display: flex;
  margin: auto 0;
  padding-bottom: 10px;
  justify-content: center ;
}
.options {
  padding: 20px 0;
  margin: auto;
  text-align: center;
}
.optionIcon {
  color: $color-grey;
  font-size: 55px;
  padding-bottom: 10px;
}
.optionCol {
  padding: 5px 10px;
}
.subtitle {
  font-weight: bold;
}
.mail {
  word-wrap: break-word;
}
.mediaIcon {
  @include mediaIcon;
}