@import '../../styles/general.scss';

.container {
  padding-top: 80px;
  max-width: 90vw;
  margin: auto;
  padding-bottom: 80px;
}

.cartCont {
  padding: 5px;
  margin: 0;
}

.cartRow {
  margin: 0;
}

.product {
  border: 2px solid $color-grey;
  margin: 20px 0;
  position: relative;
  -webkit-transition: margin .2s linear, opacity .2s linear;
  -moz-transition: margin .2s linear, opacity .2s linear;
  -o-transition: margin .2s linear, opacity .2s linear;
  transition: margin .2s linear, opacity .2s linear;

  .price {
    color: #000;
    opacity: 0.5;
    font-size: 2vw;
    font-weight: 300;
    margin: 0;
    padding: 0 10px;
  }

  .row2 {
    margin-bottom: 1rem;
  }
}

.picture {
  text-align: center;
}

.image {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2vw;

  a {
    color: $color-grey;
  }
}

.subtitle {
  font-size: 1vw;
}

.productCalculations {
  margin: auto;
  padding: 0;
}

.col1 {
  text-align: center;
}

.col2 {
  text-align: right;
  right: 1rem;
}

.quantity {
  font-size: 2vw;
  width: 30px;
  text-align: center;
  padding: 0 10px;
}

.plus, .minus, .fullPrice {
  background: $color-grey;
  color: white;
  border: none;
  font-size: 2vw;
  font-weight: 300;
  padding: 0 10px;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullPrice {
  text-align: right;
  right: 1rem;
}

.plus:hover, .minus:hover {
  background: $color-main;
  color: white;
  cursor: pointer;
}


.productCalculations a {
  color: white;
}

.delete {
  color: $color-grey;
  position: absolute;
  right: 1rem;
  margin: auto;
  top: 1rem;

  :hover {
    color: $color-main;
    cursor: pointer;
  }

}
