.navbar-light .navbar-nav .nav-link {
    color: #A00000;
    padding: 0 30px;
    font-size: 20px;
}

.dropdown-toggle {
    color: #A00000;
}

a.navbar-brand {
    margin-right: 0 !important;
}

@media (max-width: 400px) {
    .nav-link-cart {
        padding-left: 0 !important;
        padding-right: 3px !important;
    }
}

@media (min-width: 768px) {
    .nav-link-cart {
        display: block;
        padding: .5rem 1rem;
        position: absolute;
        right: 1vw;
        margin-top: -20px;
    }
}

@media (max-width: 767px) {
    .nav-link-cart {
        display: block;
        padding: .5rem 1rem;
        right: 1vw;
    }
}

@media (max-width: 767px) {
    .nav-link-cart {
        display: block;
        padding: .5rem 1rem;
        right: 1vw;
    }
}
