@import '../../styles/general.scss';

.logo {
  height: 8vh;
  min-height: 70px;
}
.navitems {
  justify-content: space-between;
  display: flex;
}
.navcartitems {
  color: #A00000;
}
@media (max-width: 400px) {
  .navcartitems {
    display: none;
  }
}
