@import '../../styles/general.scss';

.solid {
  background-color: rgba(255, 255, 255, 0.95)
}

.jsnav {
  padding-left: 4px;
  padding-right: 4px;
}

.logo {
  height: 8vh;
  min-height: 70px;
}

.navitems {
  justify-content: space-between;
  display: flex;
  margin-right: 2px;
}

.navcart {
  color: $color-main;
}

.navcartitems {
  color: $color-main;
}

@media (max-width: 400px) {
  .navcartitems {
    display: none;
  }
}

@media (min-width: 260px) {
  .navitems {
    margin-right: 6px;
  }
}

@media (max-height: 300px), (max-width: 260px) {
  .logo {
    height: 8vh;
    min-height: 50px;
  }
}